<div class="header">
  <div class="btn-header">
    <div class="menu-div"><button class="menu">☰</button></div>
    <div class="fbh-div"><button class="fake-button-header">Ajuda</button><button class="fake-button-header">Login</button></div>
  </div>
</div>
<div class="everything-div">
  <div class="left-wing">
    <img src="assets/cropped-Logo-Galoá-Principal-quadrado-1.png" width="250" style= cursor:pointer;>
    <button class="fakebutton">Apresentação</button>
    <button class="fakebutton">Comitês</button>
    <button class="fakebutton">Autores</button>
    <button class="fakebutton">Eixos Temáticos</button>
    <button class="fakebutton">Trabalhos</button>
    <button class="fakebutton">Contato</button>
  </div>

  <div class="middle-div">
    <div class="middle-beginning-div">
      <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
      <div id="main-image"><img src="assets/dewey 1.png"></div>
    </div>


  </div>






</div>
