:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//cabeçalho
.header{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  background-color: #541E58;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
.menu{
  gap: 15px;
  margin-left: 20px;
  background-color: #541E58;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin-right: 140px;
  color: #faf3fa;
}
.menu:hover{
  color: #000000;
  transition: 0.3s;
}
.btn-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  margin-right: 20px;
}
.fbh-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.fake-button-header{
  font-size: 1.4rem;
  background-color: #541E58;
  cursor: pointer;
  border: none;
  color: #faf3fa;
  font-weight: bold;  
}
.fake-button-header:hover{
  color: #000000;
  transition: 0.3s;
  font-weight: bold;
}

@media screen and (max-width: 1668px) {

  //cabeçalho
  .header{
    height: 60px;
  }
  .fbh-div{
    gap: 0;
  }
  .fake-button-header{
    font-size: 1.1rem;
  }

}

//meio + laterais
.everything-div{
  display: flex;
  flex-direction: row;
  gap: 16px;
  background-color: #faf3fa;
  font-size: 12px;
  font-family: arial;
  color: black;
}

//lateral esquerda
.left-wing{
  width: 15%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0;
  border-right: 2px solid #541E58;
}
.fakebutton{
  padding: 8% 9%;
  font-size: 1.5rem;
  background-color: #faf3fa;
  text-align: left;
  cursor: pointer;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;  
  margin: 0px 0px 0px 0px;
  white-space: nowrap;
  border-bottom: 3px solid #6d6d6d;  
  width: 100%;
}
.fakebutton:hover{
  transition: 0.4s;
  border-left: 10px solid #330037;
}
.left-wing > img{
  align-self: center;
  margin: 10px 0px 10px 0px;
}

